@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/lp/job-city-tracker/v1/fonts/inter-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/lp/job-city-tracker/v1/fonts/inter-medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Right Grotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/lp/job-city-tracker/v1/fonts/right-grotesk-medium.woff2') format('woff2');
}